<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{dashboard-layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt chỗ thiết bị</title>
  </head>
  <body>
    <div layout:fragment="body">
      <div class="block block-rounded">
        <div class="block-header block-header-default">
          <h3 class="block-title">Danh sách thiết bị</h3>
        </div>
        <div class="block-content">
          <form th:action="@{/thietbi/datchothietbi/search}">
            <div class="input-group">
              <input
                type="search"
                class="form-control"
                placeholder="Tìm kiếm theo tên..."
                name="query"
                th:value="${query}"
              />
              <button type="submit" class="btn btn-alt-primary">
                <i class="fa fa-search me-1 opacity-50"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="block-content">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-vcenter">
              <thead>
                <tr>
                  <th>Mã</th>
                  <th>Tên thiết bị</th>
                  <th>Mô tả</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tb : ${tblist}">
                  <td class="fw-semibold fs-sm" th:utext="${tb.maTB}"></td>
                  <td class="fs-sm" th:utext="${tb.tenTB}"></td>
                  <td class="fs-sm" th:utext="${tb.moTaTB}"></td>
                  <td class="text-center">
                    <div class="btn-group">
                      <a
                        th:href="@{/thietbi/datchothietbi/{maTB}/datcho(maTB=${tb.maTB})}"
                        class="btn btn-sm btn-alt-secondary"
                        data-bs-toggle="tooltip"
                        title="Đặt chỗ"
                      >
                        <i class="fa fa-fw fa-pencil-alt"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
