<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main-layout}"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Trang chủ</title>
    <script defer src="@{assets/js/pages/index.js}"></script>
  </head>

  <body>
    <div layout:fragment="body">
      <!-- Hero -->
      <div
        class="bg-image"
        style="background-image: url('assets/media/photos/photo36@2x.jpg')"
      >
        <div class="bg-primary-dark-op py-9 overflow-hidden">
          <div class="content content-full text-center">
            <h1 class="display-4 fw-semibold text-white mb-2">
              Đặt chỗ mượn thiết bị
            </h1>
            <p class="fs-4 fw-normal text-white-50 mb-5">Quản lý thành viên</p>
            <div>
              <button class="btn btn-primary px-3 py-2 m-1">
                <i class="fa fa-fw fa-arrow-down-long opacity-50 me-1"></i> Xem
                thiết bị
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END Hero -->

      <section>
        <div th:each="tb : ${thietBiResponse.content}">
          <span th:utext="${tb.maTB}"></span>
          <span th:utext="${tb.tenTB}"></span>
          <span th:utext="${tb.moTaTB}"></span>
          <div th:each="ttsd : ${tb.thongTinSuDung}">
            <span th:utext="${ttsd.maTT}"></span>
            <span th:utext="${ttsd.tgMuon}"></span>
            <span th:utext="${ttsd.tgTra}"></span>
          </div>
        </div>
        <div th:utext="${thietBiResponse.pageNo}"></div>
        <div th:utext="${thietBiResponse.pageSize}"></div>
        <div th:utext="${thietBiResponse.totalElements}"></div>
        <div th:utext="${thietBiResponse.totalPages}"></div>
      </section>
    </div>
  </body>
</html>
