<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main-layout}"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Đăng nhập</title>
  </head>
  <body>
    <div layout:fragment="body">
      <div class="content content-full">
        <div class="row justify-content-center">
          <div class="col-md-6 my-0">
            <div th:if="${param.success}" class="alert alert-success mb-3">
              Đăng ký tài khoản thành công.
            </div>
            <div th:if="${param.error}" class="alert alert-warning mb-3">
              Mã thành viên hoặc mật khẩu không hợp lệ.
            </div>
            <div th:if="${param.logout}" class="alert alert-info mb-3">
              Đăng xuất thành công.
            </div>
          </div>
        </div>
        <div class="row justify-content-center push">
          <div class="col-md-6">
            <!-- Sign In Block -->
            <div class="block block-rounded mb-0">
              <div class="block-header block-header-default">
                <h3 class="block-title">Đăng nhập</h3>
                <!-- <div class="block-options">
                          <a
                            class="btn-block-option fs-sm"
                            href="op_auth_reminder.html"
                            >Quên mật khẩu?</a
                          >
                          <a
                            class="btn-block-option"
                            href="op_auth_signup.html"
                            data-bs-toggle="tooltip"
                            data-bs-placement="left"
                            title="New Account"
                          >
                            <i class="fa fa-user-plus"></i>
                          </a>
                        </div> -->
              </div>
              <div class="block-content block-content-full">
                <div class="p-sm-3 px-lg-4 px-xxl-5 py-lg-5">
                  <form th:action="@{/login}" method="POST">
                    <div class="mb-4">
                      <input
                        type="text"
                        class="form-control form-control-alt form-control-lg"
                        id="maTV"
                        name="username"
                        placeholder="Mã thành viên"
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="password"
                        class="form-control form-control-alt form-control-lg"
                        id="password"
                        name="password"
                        placeholder="Mật khẩu"
                      />
                    </div>
                    <div class="mb-4">
                      <a th:href="@{/forgot-password}">Quên mật khẩu?</a>
                    </div>
                    <div class="row mb-3 justify-content-center">
                      <div class="col-lg-6 col-xxl-5">
                        <button
                          type="submit"
                          class="btn w-100 btn-alt-primary"
                          value="Log in"
                        >
                          <i
                            class="fa fa-fw fa-sign-in-alt me-1 opacity-50"
                          ></i>
                          Đăng nhập
                        </button>
                      </div>
                    </div>
                    <p class="text-center mb-2">
                      <span>Chưa có tài khoản? </span>
                      <a th:href="@{/register}">Đăng ký</a>
                    </p>
                  </form>
                  <!-- END Sign In Form -->
                </div>
              </div>
            </div>
            <!-- END Sign In Block -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
