<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboard-layout}"
    >
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sửa thông tin thiết bị</title>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script defer th:src="@{/assets/js/pages/thiet-bi-edit.js}"></script>
    </head>
    <body>
        <div layout:fragment="body">
            <div class="content content-full">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Sửa thông tin thiết bị</h3>
                </div>
                <div class="block block-content">
                    <form
                        role="form"
                        method="post"
                        th:action="@{/thietbi/{maTB}/edit(maTB=${thietBi.maTB})}"
                        th:object="${thietBi}"
                        >
                        <div class="mb-4">
                            <label class="form-label" for="val-matb">Mã thiết bị</label>
                            <input
                                type="text"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('maTB')} ? is-invalid : ''"
                                id="val-matb"
                                name="val-matb"
                                th:field="*{maTB}"
                                placeholder="Nhập mã thiết bị"
                                disabled
                                />
                            <div
                                th:if="${#fields.hasErrors('maTB')}"
                                class="invalid-feedback"
                                th:errors="*{maTB}"
                                ></div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="val-tentb"
                                   >Tên thiết bị <span class="text-danger">*</span></label
                            >
                            <input
                                type="text"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('tenTB')} ? is-invalid : ''"
                                id="val-tentb"
                                name="val-tentb"
                                th:field="*{tenTB}"
                                placeholder="Nhập tên thiết bị"
                                disabled
                                />
                            <div
                                th:if="${#fields.hasErrors('tenTB')}"
                                class="invalid-feedback"
                                th:errors="*{tenTB}"
                                ></div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="val-motatb"
                                   >Mô tả thiết bị <span class="text-danger">*</span></label
                            >
                            <textarea
                                class="form-control"
                                th:classappend="${#fields.hasErrors('moTaTB')} ? is-invalid : ''"
                                id="val-motatb"
                                name="val-motatb"
                                th:field="*{moTaTB}"
                                rows="3"
                                placeholder="Nhập mô tả thiết bị"
                                ></textarea>
                            <div
                                th:if="${#fields.hasErrors('moTaTB')}"
                                class="invalid-feedback"
                                th:errors="*{moTaTB}"
                                ></div>
                        </div>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-alt-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
