<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{main-layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hồ sơ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>-->
    <script src="/assets/js/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script defer th:src="@{/assets/js/pages/profile.js}"></script>
  </head>
  <body>
    <div layout:fragment="body">
      <div
        class="content content-full content-boxed account_ID"
        th:attr="data-id=${user.maTV}"
      >
        <!-- Hero -->
        <div class="rounded border overflow-hidden push">
          <div
            class="bg-image pt-9"
            style="background-image: url('/assets/media/photos/photo36@2x.jpg')"
          ></div>
          <div
            class="px-4 py-3 bg-body-extra-light d-flex flex-column flex-md-row align-items-center"
          >
            <a
              class="d-block img-link mt-n5"
              href="be_pages_generic_profile_v2.html"
            >
              <img
                class="img-avatar img-avatar128 img-avatar-thumb"
                src="/assets/media/avatars/avatar10.jpg"
                alt=""
              />
            </a>
            <div
              class="ms-3 flex-grow-1 text-center text-md-start my-3 my-md-0"
            >
              <h1 class="fs-4 fw-bold mb-1" th:text="${user.hoTen}">
                Phan Huỳnh Minh Tiến
              </h1>
              <h2 class="fs-sm fw-medium text-muted mb-0">Chỉnh sửa hồ sơ</h2>
            </div>
            <!--                    <div class="space-x-1">
                                                <a href="be_pages_generic_profile_v2.html" class="btn btn-sm btn-alt-secondary space-x-1">
                                                    <i class="fa fa-arrow-left opacity-50"></i>
                                                    <span>Back to Profile</span>
                                                </a>
                                            </div>-->
          </div>
        </div>
        <!-- END Hero -->

        <!-- Edit Account -->
        <div class="block block-bordered block-rounded">
          <ul class="nav nav-tabs nav-tabs-alt" role="tablist">
            <li class="nav-item">
              <a th:href="@{/profile/{maTV}(maTV=${user.maTV})}">
                <button
                  class="nav-link space-x-1"
                  id="account-profile-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#account-profile"
                  role="tab"
                  aria-controls="account-profile"
                >
                  <i class="fa fa-user-circle d-sm-none"></i>
                  <span class="d-none d-sm-inline">Hồ sơ</span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <button
                class="nav-link space-x-1 active"
                id="account-password-tab"
                data-bs-toggle="tab"
                data-bs-target="#account-password"
                role="tab"
                aria-controls="account-password"
              >
                <i class="fa fa-asterisk d-sm-none"></i>
                <span class="d-none d-sm-inline">Mật khẩu</span>
              </button>
            </li>
            <li class="nav-item">
              <a th:href="@{/profile/vipham/{maTV}(maTV=${user.maTV})}">
                <button
                  class="nav-link space-x-1"
                  id="account-password-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#account-password"
                  role="tab"
                  aria-controls="account-password"
                >
                  <i class="fa fa-asterisk d-sm-none"></i>
                  <span class="d-none d-sm-inline">Vi Phạm</span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/profile/datcho/{maTV}(maTV=${user.maTV})}">
                <button
                  class="nav-link space-x-1"
                  id="account-password-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#account-password"
                  role="tab"
                  aria-controls="account-password"
                >
                  <i class="fa fa-asterisk d-sm-none"></i>
                  <span class="d-none d-sm-inline">Đặt chổ</span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/profile/danhsachmuon/{maTV}(maTV=${user.maTV})}">
                <button
                  class="nav-link space-x-1"
                  id="account-password-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#account-password"
                  role="tab"
                  aria-controls="account-password"
                >
                  <i class="fa fa-asterisk d-sm-none"></i>
                  <span class="d-none d-sm-inline">Thiết bị đang mượn</span>
                </button>
              </a>
            </li>
            <!--                    <li class="nav-item">
                                                <button class="nav-link space-x-1" id="account-connections-tab" data-bs-toggle="tab"
                                                        data-bs-target="#account-connections" role="tab" aria-controls="account-connections"
                                                        aria-selected="false">
                                                    <i class="fa fa-share-alt d-sm-none"></i>
                                                    <span class="d-none d-sm-inline">Connections</span>
                                                </button>
                                            </li>
                                            <li class="nav-item">
                                                <button class="nav-link space-x-1" id="account-billing-tab" data-bs-toggle="tab"
                                                        data-bs-target="#account-billing" role="tab" aria-controls="account-billing" aria-selected="false">
                                                    <i class="fa fa-credit-card d-sm-none"></i>
                                                    <span class="d-none d-sm-inline">Billing</span>
                                                </button>
                                            </li>-->
          </ul>
          <div class="block-content tab-content">
            <div
              class="tab-pane"
              id="account-profile"
              role="tabpanel"
              aria-labelledby="account-profile-tab"
              tabindex="0"
            >
              <div class="row push p-sm-2 p-lg-4">
                <div class="offset-xl-1 col-xl-4 order-xl-1">
                  <p class="bg-body-light p-4 rounded-3 text-muted fs-sm">
                    Your account’s vital info. Your username will be publicly
                    visible.
                  </p>
                </div>
                <div class="col-xl-6 order-xl-0">
                  <form
                    class="form-update-profile"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-matv"
                        >Mã thành viên</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-matv"
                        name="dm-profile-edit-matv"
                        placeholder="Nhập mã thành viên.."
                        th:field="${user.maTV}"
                        disabled
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-name"
                        >Họ và tên</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-name"
                        name="dm-profile-edit-name"
                        placeholder="Nhập họ và tên.."
                        th:field="${user.hoTen}"
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-khoa"
                        >Khoa</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-khoa"
                        name="dm-profile-edit-khoa"
                        placeholder="Nhập khoa của bạn.."
                        th:field="${user.khoa}"
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-nganh"
                        >Ngành</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-nganh"
                        name="dm-profile-edit-nganh"
                        placeholder="Nhập ngành của bạn.."
                        th:field="${user.nganh}"
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-sdt"
                        >Số điện thoại</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-sdt"
                        name="dm-profile-edit-sdt"
                        th:field="${user.sdt}"
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-email"
                        >Email</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="dm-profile-edit-email"
                        name="dm-profile-edit-email"
                        th:field="${user.email}"
                      />
                    </div>
                    <!--                                        <div class="mb-4">
                                                                                    <label class="form-label" for="dm-profile-edit-email">Mật khẩu</label>
                                                                                    <input type="password" class="form-control" id="dm-profile-edit-pass"
                                                                                           name="dm-profile-edit-email" th:field="${user.password}">
                                                                                </div>-->
                    <!--                                    <div class="mb-4">
                                                                                <label class="form-label">Your Avatar</label>
                                                                                <div class="push">
                                                                                    <img class="img-avatar" src="./public/media/avatars/avatar0.jpg" alt="">
                                                                                </div>
                                                                                <label class="form-label" for="dm-profile-edit-avatar">Choose a new avatar</label>
                                                                                <input class="form-control" type="file" id="dm-profile-edit-avatar">
                                                                            </div>-->
                    <button
                      type="submit"
                      class="btn btn-alt-primary"
                      id="update-profile"
                    >
                      <i class="fa fa-check-circle opacity-50 me-1"></i> Cập
                      nhật hồ sơ
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div
              class="tab-pane active"
              id="account-password"
              role="tabpanel"
              aria-labelledby="account-password-tab"
              tabindex="0"
            >
              <div class="row push p-sm-2 p-lg-4">
                <div class="offset-xl-1 col-xl-4 order-xl-1">
                  <p class="bg-body-light p-4 rounded-3 text-muted fs-sm">
                    Changing your sign in password is an easy way to keep your
                    account secure.
                  </p>
                </div>
                <div class="col-xl-6 order-xl-0">
                  <form
                    th:action="@{/profile/updatePassword/{maTV}(maTV=${user.maTV})}"
                    method="POST"
                  >
                    <div class="mb-4">
                      <label
                        class="form-label"
                        for="dm-profile-edit-currentPassword"
                        >Mật khẩu hiện tại</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="dm-profile-edit-currentPassword"
                        name="dm-profile-edit-currentPassword"
                      />
                    </div>
                    <div class="row mb-4">
                      <div class="col-12">
                        <label
                          class="form-label"
                          for="dm-profile-edit-newPassword"
                          >Mật khẩu mới</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="dm-profile-edit-newPassword"
                          name="dm-profile-edit-newPassword"
                        />
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-12">
                        <label
                          class="form-label"
                          for="dm-profile-edit-confirmPassword"
                          >Xác nhận mật khẩu mới</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="dm-profile-edit-confirmPassword"
                          name="dm-profile-edit-confirmPassword"
                        />
                      </div>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-alt-primary"
                      id="update-password"
                    >
                      <i class="fa fa-check-circle opacity-50 me-1"></i> Cập
                      nhật mật khẩu
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div
              class="tab-pane"
              id="account-billing"
              role="tabpanel"
              aria-labelledby="account-billing-tab"
              tabindex="0"
            >
              <div class="row push p-sm-2 p-lg-4">
                <div class="offset-xl-1 col-xl-4 order-xl-1">
                  <p class="bg-body-light p-4 rounded-3 text-muted fs-sm">
                    Your billing information is never shown to other users and
                    only used for creating your invoices.
                  </p>
                </div>
                <div class="col-xl-6 order-xl-0">
                  <form
                    action="be_pages_generic_profile_v2_edit.html"
                    method="POST"
                    onsubmit="return false;"
                  >
                    <div class="mb-4">
                      <label
                        class="form-label"
                        for="dm-profile-edit-company-name"
                        >Company Name (Optional)</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-company-name"
                        name="dm-profile-edit-company-name"
                      />
                    </div>
                    <div class="row mb-4">
                      <div class="col-6">
                        <label
                          class="form-label"
                          for="dm-profile-edit-firstname"
                          >Firstname</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="dm-profile-edit-firstname"
                          name="dm-profile-edit-firstname"
                        />
                      </div>
                      <div class="col-6">
                        <label class="form-label" for="dm-profile-edit-lastname"
                          >Lastname</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="dm-profile-edit-lastname"
                          name="dm-profile-edit-lastname"
                        />
                      </div>
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-street-1"
                        >Street Address 1</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-street-1"
                        name="dm-profile-edit-street-1"
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-street-2"
                        >Street Address 2</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-street-2"
                        name="dm-profile-edit-street-2"
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-city"
                        >City</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-city"
                        name="dm-profile-edit-city"
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-postal"
                        >Postal code</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-postal"
                        name="dm-profile-edit-postal"
                      />
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="dm-profile-edit-vat"
                        >VAT Number</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="dm-profile-edit-vat"
                        name="dm-profile-edit-vat"
                        value="EA00000000"
                        disabled
                      />
                    </div>
                    <button type="submit" class="btn btn-alt-primary">
                      <i class="fa fa-check-circle opacity-50 me-1"></i> Update
                      Billing
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END Edit Account -->
      </div>
    </div>
  </body>
</html>
