<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{dashboard-layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer th:src="@{/assets/js/pagination.js}"></script>
    <script defer th:src="@{/assets/js/pages/xu-ly-list.js}"></script>
    <title>Xử lý vi phạm</title>
  </head>
  <body>
    <div layout:fragment="body">
      <div class="block block-rounded">
        <div class="block-header block-header-default">
          <h3 class="block-title">Xử lý vi phạm</h3>
          <div class="block-options">
            <a href="/xuly/new" class="btn btn-success">
              <i class="fa fa-fw fa-plus me-1"></i> Thêm xử lý
            </a>
          </div>
        </div>
        <div class="block-content">
          <!---Thanh tim kiem---->
          <div class="col-md-6">
            <form th:action="@{/xuly/search}">
              <div class="input-group">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Tìm kiếm theo mã thành viên"
                  name="query"
                  id="input-search"
                  th:value="${query}"
                />
                <input type="hidden" name="pageNo" th:value="1" />
                <button class="btn btn-alt-primary" id="btn-search">
                  <i class="fa fa-search me-1 opacity-50"></i>
                </button>
              </div>
            </form>
          </div>
          <!---Ket thuc thanh tim kiem---->
        </div>
        <div class="block-content">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-vcenter">
              <thead>
                <tr>
                  <th>Mã XL</th>
                  <th>Mã TV</th>
                  <th>Họ Tên TV</th>
                  <th>Hình thức xử lý</th>
                  <th>Ngày xử lý</th>
                  <th>Trạng thái</th>
                  <th class="text-center" style="width: 100px">Hành động</th>
                </tr>
              </thead>
              <tbody id="tbl-xuly">
                <tr th:each="xl : ${xuLyResponse.content}">
                  <td class="fw-semibold fs-sm" th:utext="${xl.getMaXL()}"></td>
                  <td
                    class="fs-sm"
                    th:utext="${xl.getThanhVien().getMaTV()}"
                  ></td>
                  <td
                    class="fs-sm"
                    th:utext="${xl.getThanhVien().getHoTen()}"
                  ></td>
                  <td class="fs-sm" th:utext="${xl.getHinhThucXL()}"></td>
                  <td class="fs-sm" th:utext="${xl.getNgayXL()}"></td>
                  <td
                    class="fs-sm"
                    th:utext="${xl.getTrangThaiXL() == 1 ? 'Đang xử lý' : 'Đã xử lý'}"
                  ></td>
                  <td class="text-center">
                    <div class="btn-group">
                      <a
                        th:href="@{/xuly/{maXL}/edit(maXL=${xl.getMaXL()})}"
                        class="btn btn-sm btn-alt-secondary"
                        data-bs-toggle="tooltip"
                        title="Sửa"
                      >
                        <i class="fa fa-fw fa-pencil-alt"></i>
                      </a>
                      <a
                        th:href="@{/xuly/{maXL}/delete(maXL=${xl.getMaXL()})}"
                        class="btn btn-sm btn-alt-secondary btn-xoaXuLy"
                        data-bs-toggle="tooltip"
                        title="Xoá"
                      >
                        <i class="fa fa-fw fa-times"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav
            class="pagination-container"
            th:attr="data-page-no=${xuLyResponse.pageNo},data-total-pages=${xuLyResponse.totalPages},data-query=${query}"
          >
            <ul class="pagination justify-content-end mt-2">
              <li class="page-item">
                <a
                  class="page-link first-page disabled"
                  href="javascript:void(0)"
                  tabindex="-1"
                  aria-label="First"
                  data-page="1"
                >
                  <i class="fas fa-angle-double-left"></i>
                </a>
              </li>
              <li class="page-item">
                <a
                  class="page-link prev-page disabled"
                  href="javascript:void(0)"
                  tabindex="-1"
                  aria-label="Previous"
                >
                  <i class="fas fa-angle-left"></i>
                </a>
              </li>
              <div class="d-flex list-page"></div>
              <li class="page-item">
                <a
                  class="page-link next-page disabled"
                  href="javascript:void(0)"
                  tabindex="-1"
                  aria-label="Next"
                >
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
              <li class="page-item">
                <a
                  class="page-link last-page disabled"
                  href="javascript:void(0)"
                  tabindex="-1"
                  aria-label="Last"
                >
                  <i class="fas fa-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
